@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: 20px;
    scrollbar-track-color: transparent;
}
*::-webkit-scrollbar {
    width: 20px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
body{
    height: 100vh;
}
main{
    display: flex;
    height: 100vh;
}
/* Variables */
:root {
    --color-primary:#fff;
    --color-secondary:#2c2f33;
}
/* Barre latéral */
.sidebar-left{
    width: 22%;
    background-color: #333;
}
/* Profil */
.profil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0;
}
.profil__avatar{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 7.8125vw;
    height: 7.8125vw;
    transition: 0.9s;
}
.profil__avatar:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
/* Informations du profil */
.profil__infos{
    text-align: center;
}
.profil__infos b{
    color: white;
    font-weight: 800;
}

.profil-buttons{
    display: inline-block;
}
.profil-buttons a{
    font-size: 0.9em;
}
.profil-buttons__read{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
.profil-buttons__read:hover{
    color: #d3d3d3;
}
.profil-buttons__logout{
    color: red;
}
.profil-buttons__logout:hover{
    color: #c40000;
}


/* Salons */
.room-manage{
    padding: 25px 0;
}
.room-manage__searchBar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;


}
.room-manage__searchBar__button {
    background: #444;
    color: white;
    border: none;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius:  20px 0 0 20px;
    cursor: pointer;
    border-right: none;
    font-size: 20px;
}
.room-manage__searchBar__field {
    background: #444;
    color: white;
    border: none;
    width: 80%;
    border-right: none;
    padding: 6px;
    height: 20px;
    border-left: none;
    border-radius: 0 20px 20px 0;
    outline: none;
}
.room-manage-add {
    text-align: right;
}
.room-manage-add span {
    cursor: pointer;
    color: white;
    padding-right: 20px;
    font-size: 0.8em;
}
/* Liste des salons */
.room-list{
    height: 60vh;
    overflow-y: auto;
}
.room-list-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.room-list-bar:hover{
    background: rgba(255, 255, 255, 0.055);
}
.room-list-bar:hover .room-list-bar__img{
    transition: 0.4s;
    border-radius: 40%;
}
.room-list-bar__img{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: 0.5s;
    width: 3vw;
    height: 3vw;
}
.room-list-bar-infos b{
    color: white;
    font-size: 0.9em;
}
.room-list-bar-infos p{
    color: white;
    font-size: 0.8em;
    width: 200px;
    overflow : hidden; 
    white-space : nowrap; 
    text-overflow : ellipsis;
}

/* Chat */
.chat{
    background-color: #FBFBFB;
    width: 54%;
}
    /* Zone des messages */
.chat__area{
    height: 80vh;
    overflow-y: auto;
}
.chat__area-msg-pseudo{
    color: #666;
    text-align: left;
    font-size: 0.8em;
}
.chat__area-msg-date{
    display: block;
    color: #dadada;
    text-align: right;
    font-size: 0.7em;
}
    /* Les photos de profil des messages */
.chat__area-msg-avatar{
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
}
.chat__area-msg-avatar:hover{
    cursor: pointer;
}

    /* Les messages de l'utilisateur */
.chat__area-msg-mine{
    display: flex;
    justify-content: end;
    margin: 20px 50px 20px 50px;
}
.chat__area-msg-bubble-mine {
    width: fit-content;
    max-width: 50%;
    background: #3E6DB5;
    border-radius: 4px;
    margin: 0 10px 0 0;
    padding: 0 20px;
}
.chat__area-msg-message-mine {
    color: #fff;
}

    /* Le message des autres utilisateurs */
.chat__area-msg{
    display: flex;
    margin: 20px 50px 20px 50px;
}
.chat__area-msg-bubble{
    width: fit-content;
    max-width: 50%;
    background: #ffffff;
    border-radius: 4px;
    margin: 0 0 0 10px;
    padding: 0 20px;
}
.chat__area-msg-message{
    color: black;
}

    /* La zone de l'envoie des messages */
.chat__msg-send{
    height: 20vh;
    text-align: center;
}
.chat__msg-send input{
    height: 45px;
    width: 80%;
    border: 1px solid #dadada;
    border-right: none;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    margin-top: 3em ;
    outline: none;
}
.chat__msg-send button{
    width: 55px;
    height: 45px;
    border-radius: 0 5px 5px 0;
    border: none;
    background: #333;
}
.chat__msg-send button:hover{
    opacity: 0.8;
}
.chat__msg-send i{
    color: white
}

.chat__msg-send .fa-paperclip{
    color: #333;
}

/* Description du salon */
.sidebar-right{
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    width: 23%;
    height: 100vh;
    padding: 0 1%;
}

.room-info__img{
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 200px;
}
hr{
    margin: 1em 0;
    background: #dadada;
    height: 1px;
    border: none;
}

.room-info-Participants{
    display: flex;
}
.room-info-Participants__avatar{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    overflow: hidden;
}

.room-info-logout{
    color: #c62828;
    cursor: pointer;
}
/* POP UP */
#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #dadadaee;
}
#popup a {
    padding: 1.5em 0;
    text-decoration: none;
    color: white;
    display: block;
}
#popup li:hover{
    opacity: 0.9;
}
.popup__container{
    position: relative;
    top: 10%;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    background-color: white;
    border-radius: .2rem .2rem 0 0;
}
.popup__container form {
    width: 80%;
    color: #8f9cb5;
    margin: 0 auto;
    padding: 2em 0;
}
.popup__container input[type="text"],input[type="password"],textarea{
    font-size: 0.9em;
    padding: 0.5em 0;
    width: 100%; 
}
.alert-error{
    text-align: center;
    color: red;
}
#popup ul{
    list-style: none;
}
#popup li{
    float: left;
    width: 50%;
}
#popup li a {
    text-align: center;
}
#popup li:first-child a{
    background: #c62828 ;
    border-radius: 0 0 0 .25em;
}
#popup li:last-child a{
    background: #3949ab ;
    border-radius: 0 0 .25em 0;
}
#popup input[type="text"]:disabled {
    background: #ccc;
}
#room-create__img{
    margin: 1em auto;
    background: #fff;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 150px;
    overflow: hidden;
}
#room-create__img-mask{
    opacity: 0;
}
#room-create__img-mask:hover{
    opacity: 0.7;
}


/* PROFIL MEMBER */

#profil-read-member{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #dadadaee;
}


