@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: 20px;
    scrollbar-track-color: transparent;
}
*::-webkit-scrollbar {
    width: 20px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
body{
    height: 100vh;
}
main{
    display: flex;
    height: 100vh;
}
/* Variables */
:root {
    --secondary-grey : #dadada50;
}
/* Barre latéral */
.sidebar-left{
    width: 22%;
    border-right: 1px solid var(--secondary-grey);
}
/* Profil */
.profil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0;
}
.profil__avatar{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 7.8125vw;
    height: 7.8125vw;
    transition: 0.9s;
}
.profil__avatar:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
/* Informations du profil */
.profil__infos{
    text-align: center;
}
.profil__infos b{
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.profil-buttons{
    display: inline-block;
}
.profil-buttons a{
    font-size: 0.9em;
}
.profil-buttons__logout{
    color: red;
}
.profil-buttons__read{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
.profil-buttons__read:hover{
    color: rgb(59, 59, 59);
}
/* Salons */
.room-manage{
    padding: 25px 0;
    box-shadow: 0 1px 10px -5px rgb(0 0 0 / 10%);;
    box-shadow: black ;
}
.room-manage__searchBar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.room-manage__searchBar__button {
    width: 32px;
    height: 32px;
    border: 1px solid var(--secondary-grey);
    background: transparent;
    text-align: center;
    color: var(--secondary-grey);
    border-radius:  20px 0 0 20px;
    cursor: pointer;
    border-right: none;
    font-size: 20px;
}
.room-manage__searchBar__field {
    width: 80%;
    border: 1px solid var(--secondary-grey);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-left: none;
    border-radius: 0 20px 20px 0;
    outline: none;
}
.room-manage-add {
    text-align: right;
}
.room-manage-add span {
    cursor: pointer;
    color: rgb(36, 36, 36);
    padding-right: 20px;
    font-size: 0.8em;
}
/* Liste des salons */
.room-list{
    height: 60vh;
    overflow-y: scroll;
    overflow-x:hidden;
}
.room-list-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid var(--secondary-grey);
    cursor: pointer;
    transition: 0.4s;
}
.room-list-bar:hover{
    transition: 0.4s;
    transform: scale(1.2);
    background: var(--secondary-grey);
}
.room-list-bar__img{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
}
.room-list-bar-infos b{
    font-size: 0.9em;
}
.room-list-bar-infos p{
    font-size: 0.8em;
    width: 200px;
    overflow : hidden; 
    white-space : nowrap; 
    text-overflow : ellipsis;
}
/* Chat */
.chat{
    width: 52%;
}
.chat-discussion{
    height: 80vh;
    overflow-x: scroll;
}
.message-send{
    height: 20vh;
    text-align: center;
    background: var(--secondary-grey);
}
.message-send input{
    height: 45px;
    width: 80%;
    border: 1px solid #dadada;
    border-right: none;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    margin-top: 3em ;
    outline: none;
}
.message-send button{
    width: 55px;
    height: 45px;
    border-radius: 0 5px 5px 0;
    border: none;
    background: #333;
}
.message-send button:hover{
    opacity: 0.8;
}
.message-send i{
    color: white
}
.discussion-message{
    background: #3E6DB5;
    color: white;
    border-radius: 10px;
    margin: 10px 0 10px 50px;
    padding: 0 20px;
    width: fit-content;
    max-width: 50%;
}



/* Description du salon */
.sidebar-right{
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    width: 24%;
    height: 100vh;
    padding: 0 1.5em;
    border-left: 1px solid var(--secondary-grey);
}
.room-info__img{
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 200px;
}
hr{
    margin: 1em 0;
    background:var(--secondary-grey);
    height: 1px;
    border: none;
}

.room-info-Participants{
    display: flex;
}
.room-info-Participants__avatar{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    overflow: hidden;
}
/* POP UP */
#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
}
#popup a {
    padding: 1.5em 0;
    text-decoration: none;
    color: white;
    display: block;
}
#popup li:hover{
    opacity: 0.9;
}
.popup__container{
    position: relative;
    top: 10%;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    background-color: white;
    border-radius: .2rem .2rem 0 0;
}
.popup__container form {
    width: 80%;
    color: #8f9cb5;
    margin: 0 auto;
    padding: 2em 0;
}
.popup__container input[type="text"],input[type="password"],textarea{
    font-size: 0.9em;
    padding: 0.5em 0;
    width: 100%; 
}
.alert-error{
    text-align: center;
    color: red;
}
#popup ul{
    list-style: none;
}
#popup li{
    float: left;
    width: 50%;
}
#popup li a {
    text-align: center;
}
#popup li:first-child a{
    background: #c62828 ;
    border-radius: 0 0 0 .25em;
}
#popup li:last-child a{
    background: #3949ab ;
    border-radius: 0 0 .25em 0;
}
#popup input[type="text"]:disabled {
    background: #ccc;
}
#room-create__img{
    margin: 1em auto;
    background: #fff;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 150px;
    overflow: hidden;
}
#room-create__img-mask{
    opacity: 0;
}
#room-create__img-mask:hover{
    opacity: 0.7;
}


