@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    height: 100vh;
}

a{text-decoration: none;}

fieldset {
    border: none;
    background: #fff;
    width: 320px;
    border-radius: 5px;
}


span {color: black;}

/* Profil Read */
/* Profil Avatar */
.profil-read-avatar{
    background: #fff;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.profil-read-avatar:hover{
    transform: scale(1.02);
}

/* Profil Read Infos*/


.profil-read-infos {
    text-align: center
}



.profil-read-infos strong{
    display: block;
    color: rgb(24, 24, 24);
    font-size: 1.5em;
}
.profil-read__username{
    display: block;
    font-size: 1.1em;
    color: rgb(99, 99, 99);
    margin-bottom: 10px;
}
.profil-read-infos p{
    font-weight: 600;
    font-size: 1.2em;
}
.profil-read-details{
    font-size: 0.9em;
}

.profil-read-infos__desc{
    background: #dadada;
}

.profil-read-infos div:hover{
    background: #dadada50;
}

/* Profil Read Boutons */
.profil-read-buttons input[type="submit"],input[type="button"]{
    border: none;
    border-radius: 2px;
    padding: 1em 1.5em;
    margin: 1em auto;
}
.profil-read-buttons__logout{
    color: #c62828;
}
.profil-read-buttons a {
    text-align: center;
    padding: 1.5em 0;
    text-decoration: none;
    display: block;
}
.profil-read-buttons li:hover{
    opacity: 0.9;
}
.profil-read-buttons ul{
    list-style: none;
}
.profil-read-buttons li{
    float: left;
    width: 50%;
}
.profil-read-buttons li:first-child a{
    color: white;
    background: #007BFF ;
    border-radius: 0 0 0 .25em;
}
.profil-read-buttons li:last-child a{
    color: white;
    background: #28A745 ;
    border-radius: 0 0 .25em 0;
}



/* Profil Update */
.profil-update{
    border: none;
    background: #fff;
    width: 500px;
    border-radius: 5px;
}
/* Profil Update Avatar */
.profil-update-avatar{
    background: #fff;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.profil-update-avatar__img{
    opacity: 0;
}
.profil-update-avatar__img:hover{
    opacity:0.7;
}

/* Profil Update Erreur */
.profil-update-error{
    color: #c62828;
    font-size: 0.8em;
}

/* Profil Update Champs */
.profil-update-infos span{
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
}
.profil-update-infos input[type="text"],
.profil-update-infos input[type="number"],
.profil-update-infos select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #dadada;
}

.profile-update-infos-old-gender{
    display: flex;
    justify-content: space-between;
}
.profile-update-infos-old-gender div{

    width: 43%;
}
.profil-update-infos textarea{
    resize: none;
}
.profil-update-infos input[type="password"]{
    width: 100%;
}
.profil-update-infos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 2em;
}
.profil-update-infos div {
    margin: 5px 0;
}


/* Profil Update Boutons */
.profil-update-buttons__delete{
    text-align: center;
    cursor: pointer;
    color: #c62828 ;
}
.profil-update-buttons a{
    text-align: center;
    padding: 1.5em 0;
    text-decoration: none;
    display: block;
}

.profil-update-buttons input{
    width: 100%;
    border: none;
    padding: 1.5em 0;
    font-size: 16px;
}
.profil-update-buttons li:hover{
    opacity: 0.9;
}
.profil-update-buttons ul{
    list-style: none;
}
.profil-update-buttons li{
    float: left;
    width: 50%;
}
.profil-update-buttons li:first-child a{
    color: white;
    background: #007BFF ;
    border-radius: 0 0 0 .25em;
}
.profil-update-buttons li:last-child input{
    color: white;
    background: #28A745 ;
    border-radius: 0 0 .25em 0;
}


/* POP UP COMPTE */

#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
}

.popupcontainer{
    position: relative;
    top: 36%;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    background-color: white;
    border-radius: .2rem .2rem 0 0;
}

.popupcontainer p {

    color: #8f9cb5;
    padding: 2em 0;
}

#popup a {
    padding: 1.5em 0;
    text-decoration: none;
    color: white;
    display: block;
}

#popup li:hover{
    opacity: 0.9;
}
#popup ul{
    list-style: none;
}
#popup li{
    float: left;
    width: 50%;
}

#popup li:first-child a{
    background: #c62828 ;
    border-radius: 0 0 0 .25em;
}

#popup li:last-child a{
    background: #3949ab ;
    border-radius: 0 0 .25em 0;
}