@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(94, 110, 141, 0.9);
    height: 100vh;
}

a{text-decoration: none;}

fieldset {
    border: none;
    background: #fff;
    width: 400px;
    padding: 1rem;
    border-radius: 5px;
}

span {color: black;}

#avatar{
    background: #fff;
    background-image: url(../media/sources/avatar.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#avatarRead{
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#avatar:hover{
    transform: scale(1.02);
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 2em;
}

.text div {
    margin: 5px 0;
}

#output{
    opacity: 0;
}

#output:hover{
    opacity:0.7;
}

.boutons {
    position: relative;
    bottom: 0;
}

input,select{
    float: right;
    border: none;
    border-bottom: 1px solid rgb(75, 72, 72);
    text-align: center;
    width: 185px;
}

textarea{
    resize: none;
}

/* CHAMPS DES BOUTONS */
.input{
    text-align: center;
}

input[type="button"]{
    cursor: pointer;
    background: #007BFF;;
}

input[type="submit"]{
    cursor: pointer;
    background: #28A745;
}

input[type="submit"],input[type="button"]{
    float: none;
    border: none;
    border-radius: 2px;
    padding: 1em 1.5em;
    margin: 1em auto;
    color: white;
}

input[type="submit"]:hover,input[type="button"]:hover{
    opacity: 0.9;
}

input[type="password"]{
    float: none;
    border: none;
    border-bottom: 2px black solid;
    border-radius: 2px;
    padding: 1em 1.5em;
    margin: 1em auto;
}


.errorPHP {
    color: red;
}

.alertError{
    color: red;
    padding-left: 5px;
    margin-top: -10px;
    font-size: 0.9em;
}

.delete{
    cursor: pointer;
    color: #c62828 ;
}

.logout{
    color: #c62828 ;
}

/* POP UP COMPTE */

#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
}

.popupcontainer{
    position: relative;
    top: 36%;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    background-color: white;
    border-radius: .2rem .2rem 0 0;
}

.popupcontainer p {

    color: #8f9cb5;
    padding: 2em 0;
}

#popup a {
    padding: 1.5em 0;
    text-decoration: none;
    color: white;
    display: block;
}

#popup li:hover{
    opacity: 0.9;
}
ul{
    list-style: none;
}
li{
    float: left;
    width: 50%;
}

li:first-child a{
    background: #c62828 ;
    border-radius: 0 0 0 .25em;
}

li:last-child a{
    background: #3949ab ;
    border-radius: 0 0 .25em 0;
}