@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
    transition: 0.6s;
}

body.active{
    background:#666;
}



/* Connexion & Inscription */
.sign{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

    /* Changement entre connexion et inscription */
.sign-switch{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 420px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}

    /* Changement entre connexion et inscription */
.sign-switch-signs{
    position: relative;
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

    /* Changement entre connexion et inscription - titre */
.sign-switch-signs h2{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

    /* Changement entre connexion et inscription - boutons */
.sign-switch-signs button{
     cursor: pointer;
     padding: 10px 20px;
     background: #fff;
     color: #333;
     font-size: 16px;
     font-weight: 500;
     border: none;
}

/* Formulaires */

.forms{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.forms.active{
    left:50%;
}
.forms h3{
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}
.forms input {
    padding: 12px 40px; 
    margin: 8px 0; 
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/*Le form*/
.form{
    position: absolute;
    left: 60px;
    padding: 25px;
    transition: 0.5s;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-field {
    margin: 0 auto;
    position: relative;
}
.form-field i{
    position: absolute;
    left: 7px;
    top: 22px;
    color: rgb(99, 99, 99);
}
input[type="text"],input[type="password"],input[type="email"]{
    width: 150px;
}
input[type="submit"]{
    width:230px
}

/*Formulaire connexion*/
.form-signin{
    transition-delay: 0.25s;
}
    /*Formulaire connexion et active*/
.forms.active .form-signin{
    left: -100%;
    transition-delay: 0s;
}
    /* Mot de passe oublié */
.form-forgotPswd{
    color:#333;
}
    /* Formulaire de connexion - boutton envoyer*/
.form-signin input[type="submit"]{
    background: #D4D4CE;
    border: none;
    color: #333;
    cursor: pointer;
}

/*Formulaire inscription*/
.forms .form-signup{
    left: 100%;
    transition-delay: 0s;
}
    /*Formulaire inscription et active*/
.forms.active .form-signup{
    left: 60px;
    transition-delay: 0.25s;
}
    /* Formulaire d'inscription - boutton envoyer*/  
.form-signup input[type="submit"]{
    background: #333;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* Message d'erreur et de validité */
.form-signup-alert-error{
    color: red;
    padding-left: 5px;
    margin-top: -10px;
    font-size: 0.7em;
}
.msg-alert-error {
    position: absolute;
    top: 50px;
    color: red;
}
.msg-alert-correct{
    position: absolute;
    top: 50px;
    color: green;
}


/* RESET */

.formReset{
    width: 450px;
    padding: 5em 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgb(0 0 0 / 25%);
}

.buttonReset{
    background: #ffc400;
    border: none;
    color: #fff;
    cursor: pointer;
}



@media (max-width: 991px){

    .sign{
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .sign .sign-switch{
        top: 0;
        height:100%;
        border-radius: 10px;
    }

    .forms{
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }

    .sign-switch .sign-switch-signs{
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }

    .sign-switch-signs.signin{
        top: 0;
    }

    .forms.active{
        left:0;
        top: 150px;
    }

}